@charset "UTF-8";
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
/*------------------------------------*\
    $HELPERS
    -> Extends, Functions, Mixins, Animations
\*------------------------------------*/
/**
 * SHADOWS
 */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * 1. Address `overflow` set to `hidden` in IE 8/9/10/11.
 * 2. Reset padding for webkit
 */
button {
  overflow: visible;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*------------------------------------*\
    $GRID
\*------------------------------------*/
@media only screen and (min-width: 37.5em) {
  .one-whole {
    width: 100%; }

  .one-half, .three-sixths, .four-eighths {
    width: 50%; }

  .one-half-indent {
    margin-left: 50%; }

  .one-third, .two-sixths {
    width: 33.333%; }

  .two-thirds, .four-sixths {
    width: 66.666%; }

  .one-third-indent {
    margin-left: 33.333%; }

  .two-thirds-indent {
    margin-left: 66.666%; }

  .one-quarter, .two-eighths {
    width: 25%; }

  .two-quarters {
    width: 50%; }

  .three-quarters, .six-eighths {
    width: 75%; }

  .one-quarter-indent {
    margin-left: 25%; }

  .two-quarters-indent {
    margin-left: 50%; }

  .three-quarters-indent {
    margin-left: 75%; }

  .one-fifth {
    width: 20%; }

  .one-fifth-indent {
    margin-left: 20%; }

  .two-fifths {
    width: 40%; }

  .two-fifths-indent {
    margin-left: 40%; }

  .three-fifths {
    width: 60%; }

  .three-fifths-indent {
    margin-left: 60%; }

  .four-fifths {
    width: 80%; }

  .one-sixth {
    width: 16.666%; }

  .five-sixths {
    width: 83.333%; }

  .one-eighth {
    width: 12.5%; }

  .three-eighths {
    width: 37.5%; }

  .five-eighths {
    width: 62.5%; }

  .seven-eighths {
    width: 87.5%; }

  .gutter {
    padding-right: 10px; }

  .gutter-l {
    padding-right: 20px; } }
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/* Tipos */
@font-face {
  font-family: "Hind";
  src: url("../fonts/hind-bold-webfont.woff") format("woff"), url("../fonts/hind-bold-webfont.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5, Android 2.2+,  */
  font-weight: 800;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Hind";
  src: url("../fonts/hind-semibold-webfont.woff") format("woff"), url("../fonts/hind-semibold-webfont.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5, Android 2.2+,  */
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Hind";
  src: url("../fonts/hind-regular-webfont.woff") format("woff"), url("../fonts/hind-regular-webfont.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5, Android 2.2+,  */
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "ims-icons";
  src: url("../fonts/bettr-icons.woff") format("woff"), url("../fonts/bettr-icons.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5, Android 2.2+,  */
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
/* Global */
* {
  box-sizing: border-box; }

::-moz-selection {
  background: #E91E63;
  color: #FFF; }

::selection {
  background: #E91E63;
  color: #FFF; }

::-moz-selection {
  background: #E91E63;
  color: #FFF; }

html {
  font-size: 100%; }

body {
  background: #f8f8f8;
  color: #303030;
  font-family: "Hind", Arial, sans-serif;
  font-size: 100%;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Content */
iframe {
  max-width: 100%; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: bold;
  color: #303030;
  margin: 0; }

ul, ol, dl, dd {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  line-height: 1.3;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

p a {
  color: #E91E63; }

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
body {
  overflow-x: hidden; }

.wrapper {
  padding: 0 10px; }
  @media only screen and (min-width: 37.5em) {
    .wrapper {
      width: 98%;
      max-width: 1044px;
      margin: 0 auto;
      padding: 0; } }

.outer-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.full-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto; }

.primary-slab {
  background: #E91E63; }

.game-content {
  padding-top: 65px; }
  .game-content:after {
    clear: both;
    content: '';
    display: table; }
  .game-content .user-panel {
    border: 2px solid #ECEFF1;
    background: #fff;
    width: 100%;
    height: 50%;
    -ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }
  @media only screen and (min-width: 37.5em) {
    .game-content .user-panel {
      width: 50%;
      height: 100%;
      float: left;
      border-right: 1px solid #ECEFF1; } }

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
.g {
  font-size: 0; }
  .g > * {
    font-size: 16px;
    font-size: 1rem; }

@media only screen and (min-width: 37.5em) {
  .gi {
    display: inline-block;
    vertical-align: top; } }

/*------------------------------------*\
    $GUTTERS
\*------------------------------------*/
.row .gi {
  padding-right: 10px; }
  .row .gi:last-child {
    padding-right: 0; }

.dashboard-content .gi {
  padding: 0px 0px 10px 0px; }
@media only screen and (min-width: 37.5em) and (max-width: 59.99938em) {
  .dashboard-content .gi {
    padding: 0px 10px 10px 0px; } }
@media only screen and (min-width: 60em) {
  .dashboard-content .gi {
    padding: 0px 20px 20px 0px; } }
@media only screen and (min-width: 37.5em) {
  .dashboard-content .row .gi:last-child {
    padding-right: 0; }
  .dashboard-content .gutter {
    padding-right: 10px; }
  .dashboard-content .gutter-l {
    padding-right: 20px; } }

/**
 * EFFECTS
 */
/* Transition effect open lateral menu */
.outer-wrapper {
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease; }

.mobile-reveal-menu {
  -webkit-transform: translateX(266px);
  transform: translateX(266px); }
  .mobile-reveal-menu .mobile-nav {
    -ms-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 8px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 8px 0px rgba(0, 0, 0, 0.23); }

/**
 * DASHBOARD LAYOUT
 */
/* Equal height in panels with flexbox */
.dashboard-content {
  padding-top: 10px; }
  .dashboard-content .panel {
    margin-bottom: 10px; }
  .dashboard-content .pull-right {
    text-align: right; }
  @media only screen and (min-width: 60em) {
    .dashboard-content {
      padding: 20px 10px 0px 10px; }
      .dashboard-content .panel {
        margin-bottom: 20px; } }

/**
 * INTERACTIONS
 */
/* Active states */
.has-submenu {
  position: relative; }
  .has-submenu .submenu-title {
    cursor: pointer; }
  .has-submenu .submenu {
    display: none;
    position: absolute;
    left: 0px; }
    .has-submenu .submenu.pull-left {
      right: 0px;
      left: auto; }

.flip-icon {
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease; }

.has-popup {
  position: relative; }
  .has-popup .popup {
    display: none;
    position: absolute;
    top: -9px;
    left: 0px;
    z-index: 5000; }
    .has-popup .popup.is-shown {
      display: block; }
    .has-popup .popup + .tooltip,
    .has-popup .popup + .tooltip:hover {
      opacity: 0; }
    .has-popup .popup.left {
      left: auto;
      right: 0; }

.popup.has-actions,
.panel.has-actions {
  padding-bottom: 60px; }

/* Hover states */
.has-tooltip {
  position: relative; }
  .has-tooltip .tooltip {
    opacity: 0;
    position: absolute;
    top: -10px;
    left: 15px;
    -webkit-transform: translate(-30%, -100%);
    transform: translate(-30%, -100%);
    transition: opacity .2s ease;
    x-index: 5000; }
    .has-tooltip .tooltip.left {
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      left: -10px;
      top: 5px; }
    .has-tooltip .tooltip.right {
      top: 5px;
      left: 100%;
      margin-left: 10px;
      -webkit-transform: none;
      transform: none; }
  .has-tooltip:hover .tooltip {
    opacity: 1; }

.has-link {
  cursor: pointer;
  transition: box-shadow .3s ease; }
  .has-link:hover {
    -ms-box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.12), 0px 6px 12px 2px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.12), 0px 6px 12px 2px rgba(0, 0, 0, 0.09); }

.benchmark.has-link .content-panel {
  padding-bottom: 32px; }

/* Fixable state */
@media only screen and (min-width: 37.5em) {
  .fixable.is-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0;
    z-index: 9000;
    -ms-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 8px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 8px 0px rgba(0, 0, 0, 0.23); }

  .filters.collapsed.is-fixed {
    position: fixed; } }
/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.button {
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 600;
  padding: 10px 25px 7px 25px;
  border: 1px solid transparent;
  outline: none;
  line-height: 1.5;
  transition: background 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  border-radius: 4px; }

.button-primary {
  color: #fff;
  background: #E91E63;
  border: 1px solid #E91E63;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.21); }
  .button-primary:hover {
    background: #C2185B;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.1), 0px 6px 12px 2px rgba(0, 0, 0, 0.17); }

.button-secondary {
  color: #303030;
  background: #ECEFF1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3); }
  .button-secondary:hover {
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.1), 0px 6px 12px 2px rgba(0, 0, 0, 0.17); }

.button-light {
  color: #fff;
  background: transparent;
  border: 1px solid #fff; }
  .button-light:hover {
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.1), 0px 6px 12px 2px rgba(0, 0, 0, 0.17); }

.button-flat {
  border: 1px solid #CFD8DC;
  background: F9FBFB;
  border: 1px solid #CFD8DC;
  color: #303030; }
  .button-flat .icon {
    display: block;
    font-size: 60px;
    font-size: 3.75rem;
    margin-bottom: 10px; }
  .button-flat:hover, .button-flat:active {
    color: #E91E63;
    border-color: #E91E63; }

.button-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  border: 1px solid #CFD8DC;
  text-align: center;
  cursor: pointer; }
  .button-icon .icon {
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem;
    color: #B0BEC5; }
  .button-icon:hover {
    border-color: #E91E63; }
  .button-icon.is-current {
    border-color: #E91E63; }
    .button-icon.is-current .icon {
      color: #E91E63; }
  .button-icon.highlight {
    border-color: #E91E63; }
    .button-icon.highlight .icon {
      color: #E91E63; }
    .button-icon.highlight:hover {
      background: #E91E63; }
      .button-icon.highlight:hover .icon {
        color: #fff; }
  @media only screen and (min-width: 37.5em) {
    .button-icon {
      width: 42px;
      height: 42px;
      line-height: 41px; }
      .button-icon .icon {
        font-size: 24px;
        font-size: 1.5rem; } }

.rounded-button {
  display: inlune-block;
  cursor: pointer;
  color: #303030;
  border: 1px solid #303030;
  border-radius: 100px;
  padding: 10px 12px 6px 12px;
  font-weight: 600;
  line-height: 1; }
  .rounded-button:hover {
    background: #ECEFF1; }

.button-link {
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  color: #6B6B6B;
  padding: 10px 5px; }
  .button-link.primary {
    color: #E91E63; }
    .button-link.primary:hover {
      color: #C2185B; }
  .button-link:hover {
    color: #E91E63; }

/*------------------------------------*\
    $ICONS
\*------------------------------------*/
.select_button:after,
.icon {
  display: inline-block;
  vertical-align: middle;
  font-family: 'ims-icons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  overflow: hidden; }

.icon-balance:before {
  content: "\e900"; }

.icon-logout:before {
  content: "\e901"; }

.icon-mix:before {
  content: "\e902"; }

.icon-trophy:before {
  content: "\e903"; }

.icon-user:before {
  content: "\e904"; }

.icon-triangle:before, .select_button:after {
  content: "\e90e"; }

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
.alpha {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 600; }
  @media only screen and (min-width: 37.5em) {
    .alpha {
      font-size: 42px;
      font-size: 2.625rem; } }

.beta {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 600; }
  @media only screen and (min-width: 37.5em) {
    .beta {
      font-size: 30px;
      font-size: 1.875rem; } }

.gamma {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 400; }

.delta {
  font-size: 18px;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.3; }

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form {
  margin: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button,
input,
textarea {
  border-radius: 0; }

button[disabled],
input[disabled] {
  cursor: default; }

textarea {
  overflow: auto;
  vertical-align: top; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

input[type="checkbox"],
input[type="radio"] {
  width: auto; }

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
::-webkit-input-placeholder {
  color: #78909C;
  font-size: 16px;
  font-size: 1rem;
  font-style: italic; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #78909C;
  font-size: 16px;
  font-size: 1rem;
  font-style: italic; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #78909C;
  font-size: 16px;
  font-size: 1rem;
  font-style: italic; }

:-ms-input-placeholder {
  color: #78909C;
  font-size: 16px;
  font-size: 1rem;
  font-style: italic; }

label,
.label {
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
  color: #546E7A;
  display: block;
  line-height: 1;
  margin-bottom: 6px;
  font-weight: 400; }

.label-xl {
  font-size: 18px;
  font-size: 1.125rem; }

.field {
  margin-bottom: 25px; }
  .field input[type="text"],
  .field input[type="password"] {
    font-size: 16px;
    font-size: 1rem;
    width: 100%;
    border-radius: 4px;
    padding: 9px;
    outline: none;
    border: 1px solid #CFD8DC;
    color: #37474F;
    transition: box-shadow 0.2s ease;
    background: #F9FBFB; }
    .field input[type="text"].small,
    .field input[type="password"].small {
      padding: 2px 10px; }
    .field input[type="text"]:focus,
    .field input[type="password"]:focus {
      border-color: #37474F;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      background: #fff; }

.select {
  position: relative;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 4px;
  outline: none;
  border: 1px solid #CFD8DC;
  background: #F9FBFB;
  color: #37474F;
  transition: box-shadow 0.2s ease;
  height: 44px; }

.focus_select {
  border-color: #37474F; }
  .focus_select .select_button:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 50% 40%;
    transform-origin: 50% 40%; }

.is-active .select {
  border-color: #E91E63; }
.is-active .select_button:after {
  color: #E91E63; }

select {
  width: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  min-height: 43px;
  cursor: pointer; }

.select_label {
  width: 100%;
  display: inline-block;
  padding: 12px;
  font-size: 14px;
  font-size: 0.875rem; }

.select_content {
  position: relative;
  top: 1px; }

.select_button {
  position: absolute;
  top: -3px;
  right: -5px; }
  .select_button:before {
    content: "";
    width: 32px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0; }
  .select_button:after {
    font-size: 10px;
    font-size: 0.625rem;
    top: 10px;
    right: 15px;
    position: absolute;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease; }

.responsive_select {
  width: 100%; }

.field {
  margin-bottom: 20px; }
  .field.is-active input,
  .field.is-active select {
    border-color: #E91E63; }
  .field.is-active .focus_select {
    border-color: #37474F; }
  .field.small input,
  .field.small .select {
    height: 38px; }
  .field.small .select_label {
    padding: 9px 8px; }
  .field.small select {
    min-height: 38px; }

.radio-item {
  position: relative; }
  .radio-item:after {
    clear: both;
    content: '';
    display: table; }
  .radio-item input[type="radio"] {
    visibility: hidden; }
  .radio-item .radio {
    width: 24px;
    height: 24px;
    float: left;
    border-radius: 50%;
    margin: 0 5px;
    border: 1px solid #CFD8DC; }
    .no-borderradius .radio-item .radio {
      height: 24px;
      width: 24px;
      background: url(../images/form-bg.png) no-repeat -2px -71px;
      border: none; }
  .radio-item .checked_radio {
    position: relative;
    border-color: #E91E63; }
    .radio-item .checked_radio:before {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      width: 16px;
      height: 16px;
      background: #E91E63;
      border-radius: 50%; }
    .no-borderradius .radio-item .checked_radio {
      height: 24px;
      width: 24px;
      background-position: -2px -106px;
      border: none; }
      .no-borderradius .radio-item .checked_radio:before {
        display: none; }

.check-item .checkbox {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #CFD8DC;
  margin: 0 5px;
  padding: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 0; }
  .no-borderradius .check-item .checkbox {
    height: 24px;
    width: 24px;
    background: url(../images/form-bg.png) no-repeat 0px 0px;
    border: none; }
.check-item input[type="checkbox"] {
  opacity: 0;
  width: 24px;
  height: 24px; }
.check-item .checked_checkbox {
  background: #E91E63 url(../images/form-bg.png) no-repeat -2px -36px;
  border-color: #E91E63; }

form {
  font-size: 0; }
  form > * {
    font-size: 16px;
    font-size: 1rem; }

.option-group-wrapper {
  font-size: 0; }
  .option-group-wrapper > * {
    font-size: 16px;
    font-size: 1rem; }

.option-group {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  border-top: 1px solid #CFD8DC;
  border-bottom: 1px solid #CFD8DC;
  border-left: 1px solid #CFD8DC;
  position: relative;
  height: 44px;
  background: #ECEFF1;
  border-radius: 4px 0px 0px 4px;
  width: 33.3%; }
  .option-group .option-label {
    border-radius: 4px 0px 0px 4px;
    font-weight: 600;
    text-transform: uppercase; }
  .option-group + .option-group {
    border-radius: 0px; }
    .option-group + .option-group .option-label {
      border-radius: 0px; }
  .option-group:last-child {
    border-radius: 0px 4px 4px 0px;
    border-right: 1px solid #CFD8DC; }
    .option-group:last-child .option-label {
      border-radius: 0px 4px 4px 0px; }
  .option-group .option-label {
    display: inline-block;
    position: absolute;
    top: -1px;
    left: -1px;
    text-transform: inherit;
    width: 100%;
    height: 43px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    font-weight: 400; }
  .option-group .radio {
    width: 33.3%; }
    .option-group .radio input[type="radio"] {
      width: 100px;
      opacity: 0;
      height: 44px; }
  .option-group .checked_radio + label {
    color: #fff;
    background: #E91E63;
    border-color: #E91E63; }
  .option-group.small {
    height: 38px; }
    .option-group.small label {
      height: 38px;
      line-height: 38px; }
    .option-group.small .radio {
      height: 38px; }

.import {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  width: 280px;
  margin: 0 auto 50px auto; }
  .import input[type="text"] {
    width: 280px;
    position: relative;
    padding-right: 30px; }
  .import:after {
    content: "€";
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 25px;
    font-size: 1.5625rem;
    color: #303030;
    font-weight: 600; }

/**
 * BREADCRUMBS
 */
.breadcrumbs {
  font-size: 0; }
  .breadcrumbs > * {
    font-size: 16px;
    font-size: 1rem; }
  .breadcrumbs li {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    vertical-align: middle;
    font-size: 15px;
    font-size: 0.9375rem; }
    .breadcrumbs li a {
      color: #546E7A; }
      .breadcrumbs li a:after {
        content: "/";
        padding: 0 5px; }
    .breadcrumbs li.is-current {
      color: #303030;
      font-size: 18px;
      font-size: 1.125rem;
      font-weight: 600; }

/**
 * TAGS
 */
.tag {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  background: #E91E63;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
  position: relative;
  height: 26px;
  line-height: 26px; }
  .tag .text {
    display: inline-block;
    vertical-align: middle;
    padding: 1px 35px 0px 8px;
    font-weight: 600; }
  .tag .close {
    width: 25px;
    text-align: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: #D81B60;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer; }
    .tag .close .icon {
      font-size: 11px;
      font-size: 0.6875rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.tag-list {
  font-size: 0; }
  .tag-list > * {
    font-size: 16px;
    font-size: 1rem; }
  .tag-list .tag {
    margin-right: 12px; }

/**
 * TOOLTIPS
 */
.tooltip {
  display: inline-block;
  background: #303030;
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 6px 19px;
  position: relative;
  white-space: nowrap;
  line-height: 1.3; }
  .tooltip:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 30%;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #303030; }
  .tooltip.left:after {
    content: "";
    position: absolute;
    bottom: auto;
    left: auto;
    right: -11px;
    top: 10px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #303030; }
  .tooltip.right:after {
    content: "";
    position: absolute;
    bottom: auto;
    left: -11px;
    right: auto;
    top: 10px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #303030; }

/**
 * TEXTS
 */
.date {
  font-size: 0; }
  .date > * {
    font-size: 16px;
    font-size: 1rem; }
  .date .icon,
  .date .text {
    display: inline-block;
    vertical-align: top;
    color: #90A4AE; }
  .date .text {
    font-size: 15px;
    font-size: 0.9375rem;
    text-transform: uppercase; }
  .date .icon {
    font-size: 20px;
    font-size: 1.25rem;
    margin-right: 5px; }
  @media only screen and (min-width: 37.5em) {
    .date .text {
      font-size: 18px;
      font-size: 1.125rem; }
    .date .icon {
      font-size: 24px;
      font-size: 1.5rem; } }

.text-block {
  margin-bottom: 20px; }
  .text-block .gamma {
    margin-bottom: 10px; }
  .text-block p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    margin-bottom: 10px; }

.chart-label {
  color: #455A64;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1; }
  .chart-label .bold {
    font-size: 17px;
    font-size: 1.0625rem;
    font-weight: 800;
    margin-left: 4px; }
  .chart-label span {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    vertical-align: middle; }

.action-link {
  color: #607D8B; }

.lead-text {
  font-size: 22px;
  font-size: 1.375rem; }

/**
 * TRENDS
 */
.trend {
  display: inline-block;
  line-height: 1; }
  .trend .text,
  .trend .icon {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    vertical-align: top; }
  .trend .text {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 600; }
  .trend .icon {
    margin-right: 1px;
    font-size: 20px;
    font-size: 1.25rem; }
  .trend.up {
    color: #43A047; }
  .trend.down {
    color: #E53935; }
  .trend.small .text {
    font-size: 15px;
    font-size: 0.9375rem; }
  .trend.small .icon {
    font-size: 12px;
    font-size: 0.75rem; }
  .trend.medium .text {
    font-size: 16px;
    font-size: 1rem; }
  .trend.medium .icon {
    font-size: 14px;
    font-size: 0.875rem; }

/**
 * PANELS
 */
.panel {
  background: #fff;
  -ms-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 8px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 8px 0px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  display: block; }
  .panel .info {
    display: block;
    padding: 15px 20px;
    text-align: center; }
    .panel .info .label {
      font-size: 26px;
      font-size: 1.625rem;
      margin-bottom: 10px; }
    .panel .info .number {
      font-size: 40px;
      font-size: 2.5rem;
      font-weight: 800; }
  .panel .balance-buttons {
    padding: 10px 20px 0px 20px; }
    .panel .balance-buttons .button {
      width: 100%;
      margin-bottom: 20px;
      padding: 10px 15px 7px 15px; }
    .panel .balance-buttons .button-link {
      width: auto; }
  .panel .button-wide {
    display: block;
    width: 100%;
    border-radius: 0;
    padding: 25px 20px; }
  .panel .banner {
    position: relative;
    padding: 40px 20px 40px 105px; }
    .panel .banner .beta {
      line-height: 1;
      font-weight: 800; }
    .panel .banner .icon {
      position: absolute;
      top: 24px;
      left: 18px;
      font-size: 80px;
      font-size: 5rem; }
  .panel .buttons-group {
    font-size: 0;
    padding: 15px; }
    .panel .buttons-group > * {
      font-size: 16px;
      font-size: 1rem; }
    .panel .buttons-group .button {
      display: inline-block;
      letter-spacing: normal;
      word-spacing: normal;
      vertical-align: top;
      width: 100%;
      margin-bottom: 10px; }
      .panel .buttons-group .button .loader {
        display: none; }
      .panel .buttons-group .button.loading {
        position: relative; }
        .panel .buttons-group .button.loading:after {
          content: "";
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          background: #fff; }
        .panel .buttons-group .button.loading .loader {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          z-index: 1000; }

.access-box .panel {
  padding: 40px 20px; }
  @media only screen and (min-width: 37.5em) {
    .access-box .panel {
      padding: 60px 50px; } }

.retrawal-panel {
  background: #ECEFF1;
  text-align: center;
  -ms-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 8px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 8px 0px rgba(0, 0, 0, 0.23); }
  .retrawal-panel .button-secondary {
    border-color: transparent;
    width: 100%;
    box-shadow: none; }
  .retrawal-panel .option-group-wrapper {
    padding: 0 20px; }
  .retrawal-panel .option-group {
    width: 50%; }
    .retrawal-panel .option-group .option-label {
      background: #fff;
      text-transform: uppercase; }
    .retrawal-panel .option-group .checked_radio + label {
      background: #E91E63;
      color: #fff; }
  .retrawal-panel .import {
    width: 90%;
    margin: 0 auto; }
    .retrawal-panel .import input[type="text"] {
      width: 100%;
      max-width: 280px; }
    .retrawal-panel .import:after {
      right: 15px; }
  .retrawal-panel .actions {
    text-align: center;
    display: block; }

@media only screen and (min-width: 60em) {
  .panel .info {
    text-align: left; }
    .panel .info .number {
      font-size: 56px;
      font-size: 3.5rem; }
  .panel .buttons-group .button {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    width: 32%;
    margin: 0 2% 0 0; }
    .panel .buttons-group .button:last-child {
      margin-right: 0; }

  .retrawal-panel .actions {
    text-align: right; }
    .retrawal-panel .actions .button {
      display: inline-block; } }
/**
 * SUBMENU
 */
.submenu {
  background: #C2185B;
  padding: 10px 0px 0px 0px;
  width: auto;
  min-width: 192px;
  z-index: 7000; }
  .submenu.short {
    min-width: 155px; }
  .submenu .submenu-heading {
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    padding: 10px 16px; }

.submenu-list {
  padding-bottom: 10px; }
  .submenu-list li {
    text-transform: initial;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff; }
    .submenu-list li a {
      display: block;
      padding: 8px 25px;
      white-space: nowrap;
      font-weight: 600; }
      .submenu-list li a:hover {
        background: #AD1457; }
    .submenu-list li .no-touch a:hover,
    .submenu-list li .no-js a:hover {
      background: #AD1457; }
  .submenu-list.with-separation {
    border-bottom: 1px solid #AD1457; }

.submenu-title {
  display: inline-block; }
  .submenu-title.is-active {
    background: #C2185B; }
    .submenu-title.is-active .flip-icon {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg); }

.open-menu .submenu {
  display: block; }

/**
 * MOBILE NAV
 */
.mobile-nav {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 266px;
  background: #D81B60;
  color: #fff;
  -webkit-transform: translateX(-266px);
  transform: translateX(-266px);
  overflow-y: auto; }
  .mobile-nav .active-user {
    display: block;
    position: static;
    background: #C2185B;
    padding: 0px;
    border-bottom: 1px solid #AD1457; }
    .mobile-nav .active-user .user-content {
      position: static;
      -webkit-transform: none;
      transform: none;
      padding: 10px 20px; }
    .mobile-nav .active-user .user-role {
      font-size: 15px;
      font-size: 0.9375rem;
      color: #F48FB1;
      text-transform: uppercase; }
  .mobile-nav .nav-item {
    text-transform: uppercase;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600; }
    .mobile-nav .nav-item .icon {
      font-size: 16px;
      font-size: 1rem;
      float: right;
      display: inline-block;
      padding-top: 8px; }
    .mobile-nav .nav-item .submenu-title {
      display: block;
      padding: 13px 20px;
      border-bottom: 1px solid #C2185B;
      line-height: 1.5; }
    .mobile-nav .nav-item .submenu {
      position: static; }
    .mobile-nav .nav-item .submenu-list {
      padding-bottom: 0; }

/**
 * BUTTON GROUP
 */
.button-group {
  font-size: 0;
  padding: 10px 0px; }
  .button-group > * {
    font-size: 16px;
    font-size: 1rem; }
  .button-group.small-buttons .button {
    padding: 4px 35px 1px 35px; }
  .button-group .button {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    margin-right: 12px; }

/**
 * POPUPS
 */
.popup {
  padding: 18px;
  display: inline-block;
  background: #fff;
  -ms-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 8px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 8px 0px rgba(0, 0, 0, 0.23);
  position: relative; }
  .popup .delta {
    color: #E91E63;
    margin-bottom: 10px; }
  .popup .subtitle {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 10px; }
  .popup .loader {
    padding: 20px 0px; }
    .popup .loader img,
    .popup .loader .subtitle {
      display: inline-block;
      vertical-align: bottom; }
    .popup .loader img {
      margin-right: 15px; }

.popup-clipped {
  width: 320px;
  padding-left: 45px; }
  .popup-clipped .delta .icon {
    position: absolute;
    top: 21px;
    left: 14px; }
  @media only screen and (min-width: 60em) {
    .popup-clipped {
      width: 409px; } }

/**
 * ACTIONS
 */
.actions {
  font-size: 0;
  padding: 10px;
  text-align: right; }
  .actions > * {
    font-size: 16px;
    font-size: 1rem; }
  .actions .button {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top; }

/**
 * INFO
 */
.info {
  display: inline-block;
  line-height: 1; }
  .info.emphasis {
    font-size: 42px;
    font-size: 2.625rem;
    font-weight: 800; }
  .info .label {
    color: #607D8B;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 0.875rem;
    display: block; }
    .info .label .bold {
      font-weight: 600;
      font-size: 16px;
      font-size: 1rem; }
    .info .label.xs {
      font-size: 13px;
      font-size: 0.8125rem; }
    .info .label.s {
      font-size: 15px;
      font-size: 0.9375rem; }
    .info .label.m {
      font-size: 16px;
      font-size: 1rem; }
    .info .label.l {
      font-size: 18px;
      font-size: 1.125rem; }
    .info .label.xl {
      font-size: 20px;
      font-size: 1.25rem; }
    .info .label.xxl {
      font-size: 22px;
      font-size: 1.375rem; }
  .info .value {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 800;
    display: block; }
    .info .value.xs {
      font-size: 16px;
      font-size: 1rem;
      font-weight: 600; }
    .info .value.s {
      font-size: 18px;
      font-size: 1.125rem; }
    .info .value.m {
      font-size: 20px;
      font-size: 1.25rem; }
    .info .value.l {
      font-size: 22px;
      font-size: 1.375rem; }
    .info .value.xl {
      font-size: 28px;
      font-size: 1.75rem; }
    .info .value.xxl {
      font-size: 36px;
      font-size: 2.25rem; }

/**
 * USER
 */
.user-box {
  margin: 10px 0px 30px 0px;
  text-align: center; }
  .user-box .user-profile img {
    width: 115px;
    display: block;
    margin: 0 auto 20px auto; }
  .user-box .user-profile .user-info {
    display: block; }
  .user-box .user-profile .user-name {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 1; }
  .user-box .user-profile .user-leage {
    text-transform: uppercase;
    color: #E91E63;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 600; }
  .user-box .user-points .label {
    line-height: 1; }
  .user-box .user-points .number {
    color: #546E7A;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1; }
  .user-box .badges {
    font-size: 0; }
    .user-box .badges > * {
      font-size: 16px;
      font-size: 1rem; }
    .user-box .badges li {
      display: inline-block;
      letter-spacing: normal;
      word-spacing: normal;
      vertical-align: top;
      vertical-align: middle;
      padding-right: 10px;
      text-align: center; }
      .user-box .badges li.inactive {
        opacity: .6; }
      .user-box .badges li img {
        display: block;
        margin-bottom: 10px;
        width: 51px; }
  @media only screen and (min-width: 37.5em) {
    .user-box {
      text-align: left; }
      .user-box:after {
        clear: both;
        content: '';
        display: table; }
      .user-box .user-profile {
        width: 70%;
        float: left; }
        .user-box .user-profile img {
          display: inline-block;
          vertical-align: middle;
          margin: 0px 15px 0px 0px; }
        .user-box .user-profile .user-info {
          display: inline-block;
          vertical-align: middle; }
      .user-box .user-points,
      .user-box .user-badges {
        width: 30%;
        float: right;
        text-align: right;
        margin-top: 30px; }
      .user-box .user-badges {
        text-align: right; } }
  @media only screen and (min-width: 37.5em) and (max-width: 59.99938em) {
    .user-box .badges li {
      padding-right: 6px; }
      .user-box .badges li img {
        width: 35px; } }

/**
 * BADGES
 */
/**
 * BUY PANEL
 */
.buy-panel .label {
  font-size: 24px;
  font-size: 1.5rem;
  padding: 20px 20px 0px 20px; }

.buy-list .badge-img {
  position: absolute;
  top: 25px;
  left: 15px; }
.buy-list .rounded-button {
  position: absolute;
  top: 30px;
  right: 15px; }
.buy-list li {
  position: relative;
  padding: 25px 80px 25px 75px;
  border-bottom: 1px solid #ECEFF1; }
  .buy-list li p {
    font-size: 16px;
    font-size: 1rem;
    color: #616161; }
.buy-list .buy-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  font-size: 1rem; }
@media only screen and (min-width: 37.5em) and (max-width: 59.99938em) {
  .buy-list li {
    padding: 25px 25px 25px 60px; }
  .buy-list .badge-img {
    width: 30px; }
  .buy-list .rounded-button {
    position: static;
    display: block;
    margin-top: 10px;
    text-align: center;
    max-width: 100px; } }

/**
 * RANKING
 */
.ranking-panel {
  padding: 20px; }
  .ranking-panel .ranking-header {
    margin-bottom: 10px; }
    .ranking-panel .ranking-header:after {
      clear: both;
      content: '';
      display: table; }
    .ranking-panel .ranking-header .label {
      font-size: 24px;
      font-size: 1.5rem;
      float: left; }
      .ranking-panel .ranking-header .label.right {
        float: right;
        font-size: 20px;
        font-size: 1.25rem;
        margin-top: 5px; }

.ranking-list li {
  border: 1px solid #ECEFF1;
  margin-bottom: 5px;
  padding: 10px 80px 10px 10px;
  position: relative; }
  .ranking-list li .number {
    font-size: 24px;
    font-size: 1.5rem;
    color: #607D8B;
    width: 30px;
    display: inline-block; }
  .ranking-list li .name {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 800; }
  .ranking-list li .victories {
    font-size: 26px;
    font-size: 1.625rem;
    font-weight: 800;
    position: absolute;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px; }
    .ranking-list li .victories.xl {
      font-size: 30px;
      font-size: 1.875rem; }
  .ranking-list li.current {
    background: #303030;
    color: #fff;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -ms-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 8px 0px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 8px 0px rgba(0, 0, 0, 0.23);
    padding: 10px 15px; }
    .ranking-list li.current .victories {
      color: #E91E63; }

/**
 * HEADER
 */
.main-header {
  background: #E91E63;
  position: relative;
  padding: 15px; }
  .main-header .logo {
    width: 120px; }
  .main-header.simple .logo {
    display: block;
    text-align: center;
    margin-bottom: 25px; }
  .main-header.simple .main-nav {
    text-align: center; }
    .main-header.simple .main-nav .button {
      padding: 11px 15px 10px 15px;
      line-height: 1.2; }
  .main-header .logout {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 58px;
    background: #D81B60;
    border-left: 1px solid #C2185B;
    text-align: center; }
    .main-header .logout:hover {
      background: #C2185B; }
    .main-header .logout .icon {
      font-size: 40px;
      font-size: 2.5rem;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  @media only screen and (min-width: 37.5em) {
    .main-header.simple .logo {
      float: left; }
    .main-header.simple .main-nav {
      float: right;
      text-align: left; }
      .main-header.simple .main-nav .button {
        padding: 11px 25px 10px 25px; }
    .main-header:after {
      clear: both;
      content: '';
      display: table; }
    .main-header .logo {
      float: left;
      margin-bottom: 0;
      text-align: left; } }

/**
 * ACCESS
 */
.access-box {
  width: 100%;
  margin: 40px 0px;
  width: 100%; }
  .access-box .access-header {
    margin-bottom: 25px;
    text-align: center; }
  .access-box .alpha {
    display: block;
    color: #fff;
    line-height: 1; }
  .access-box .gamma {
    color: #fff;
    line-height: 1; }
  .access-box .field:last-child {
    margin-bottom: 0; }
  .access-box .button {
    width: 100%; }
  .access-box .action-link {
    margin-top: 20px;
    display: block; }
    .access-box .action-link:hover {
      color: #4b626d; }
  .access-box .lead-text {
    text-align: center;
    margin-bottom: 60px; }
  .access-box .button-secondary span,
  .access-box .button-secondary img {
    display: inline-block;
    vertical-align: middle; }
  .access-box .button-secondary img {
    margin: 0 0 5px 5px; }
  @media only screen and (min-width: 37.5em) {
    .access-box {
      width: 554px;
      margin: 0 auto; } }

@media only screen and (min-width: 37.5em) {
  .access-wrapper .access-box {
    padding-top: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }
